@page "/ConsultaProveedores"

@using Models
@using BLL
@using iTextSharpBlazor.Reportes
@using Agrosoft.Pages.Viewers

@inject IToastService toast
@inject IModalService modal

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <div class="card border-success">
        <div class="card-header bg-success text-lg-center" style="border-radius:5px;">
            <h3 style="font-family:Georgia; color:white">Consulta de proveedores</h3>
        </div>

        <div class="card-body">
            <div class="row">
                @*Desde*@
                <div class="form-group col-2">
                    <label>Desde</label>
                    <input type="date" class="form-control" @bind="Desde" />
                </div>

                @*Hasta*@
                <div class="form-group col-2">
                    <label>Hasta</label>
                    <input type="date" class="form-control" @bind="Hasta" />
                </div>

                @*Filtro*@
                <div class="form-group col-3">
                    <label>Filtro</label>
                    <select @bind="filtro" class="form-control">
                        <option value="0" disabled>Elija una opción</option>
                        <option value="1">Todo</option>
                        <option value="2">Código proveedor</option>
                        <option value="3">Código usuario</option>
                        <option value="4">Nombre</option>
                        <option value="5">Apellido</option>
                        <option value="6">Dirección</option>
                    </select>
                </div>

                @*Criterio*@
                <div class="form-group col">
                    <label>Criterio</label>
                    <div class="input-group">
                        <input type="text" @bind="criterio" class="form-control" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary input-group-text" @onclick="Consultar">
                                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>Consultar
                            </button>
                        </div>
                    </div>
                </div>

                <button class="btn btn-outline-primary" @onclick="GenerarReporte">Imprimir</button>
            </div>

            @*Tabla*@
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Código</th>
                        <th>Fecha</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Teléfono</th>
                        <th>Celular</th>
                        <th>RNC</th>
                        <th>Dirección</th>
                        <th>Usuario</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var proveedor in ListaProveedores)
                    {
                        <tr>
                            <td>@proveedor.ProveedorId</td>
                            <td>@proveedor.Fecha</td>
                            <td>@proveedor.Nombres</td>
                            <td>@proveedor.Apellidos</td>
                            <td>@proveedor.Telefono</td>
                            <td>@proveedor.Celular</td>
                            <td>@proveedor.Rnc</td>
                            <td>@proveedor.Direccion</td>
                            <td>@repositorioUsuarios.Buscar(proveedor.UsuarioId).NombreUsuario</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
}
else @*Si no ha iniciado sesion*@
{
    <div class="card border-dark text-center">
        <div class="card-header bg-danger text-lg-center" style="border-radius:5px;">
            <h4 style="font-family:Georgia; color:white">No inicio de sesión</h4>
        </div>
        <div class="card-body">
            <h5><span class="fa fa-exclamation-triangle"></span> &nbsp; Atención</h5>
            <p>¡Debe iniciar sesión para poder tener acceso!</p>
            <a href="/" class="btn btn-outline-warning">Volver al inicio</a>
        </div>
    </div>
}

@code {
    List<Proveedores> ListaProveedores = new List<Proveedores>();
    RepositorioBase<Proveedores> repositorioProveedores = new RepositorioBase<Proveedores>();
    RepositorioBase<Usuarios> repositorioUsuarios = new RepositorioBase<Usuarios>();

    private int filtro;
    private string criterio;
    private DateTime Desde = DateTime.Now;
    private DateTime Hasta = DateTime.Now;

    private void Consultar()
    {
        if (string.IsNullOrWhiteSpace(criterio))
        {
            ListaProveedores = repositorioProveedores.GetList(x => true);
            ListaProveedores = ListaProveedores.Where(c => c.Fecha.Date >= Desde.Date && c.Fecha.Date <= Hasta.Date).ToList();

            if (ListaProveedores.Count == 0)
            {
                toast.ShowInfo("¡No hay datos para mostrar!");
            }
        }
        else
        {
            switch (filtro)
            {
                case 0:
                    toast.ShowError("¡Opción incorrecta!");

                    break;
                case 1:
                    ListaProveedores = repositorioProveedores.GetList(x => true);
                    break;
                case 2:
                    int id = Convert.ToInt32(criterio);
                    ListaProveedores = repositorioProveedores.GetList(x => x.ProveedorId == id);
                    break;
                case 3:
                    int usuarioId = Convert.ToInt32(criterio);
                    ListaProveedores = repositorioProveedores.GetList(x => x.UsuarioId == usuarioId);
                    break;
                case 4:
                    ListaProveedores = repositorioProveedores.GetList(x => x.Nombres == criterio);
                    break;
                case 5:
                    ListaProveedores = repositorioProveedores.GetList(x => x.Apellidos == criterio);
                    break;
                case 6:
                    ListaProveedores = repositorioProveedores.GetList(x => x.Direccion == criterio);
                    break;
            }
            ListaProveedores = ListaProveedores.Where(c => c.Fecha.Date >= Desde.Date && c.Fecha.Date <= Hasta.Date).ToList();
            if (ListaProveedores.Count == 0)
            {
                toast.ShowInfo("¡No hay datos para mostrar!");
            }
        }
    }

    public void GenerarReporte()
    {
        ProveedoresReport proveedoresReport = new ProveedoresReport();
        var parametros = new ModalParameters();

        parametros.Add("listaProveedores", ListaProveedores);

        modal.Show<ProveedoresViewer>("Reporte de Proveedores", parametros);
    }
}